body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    height: 100vh;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0px;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: 20px;
}

.logo img {
    max-height: 50px;
}

.header-text {
    text-align: left;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

h2 {
    margin-top: 20px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

button:focus {
    outline: none;
}
